el-get
recentf
\#recentf\#
auto-save-list
eshell
elpa*
projectile-bookmarks.eld
url/cookies
tramp
network-security.data
org-templates/
session.*
custom.el
emacs.d/.dap-breakpoints
emacs.d/.extension/
emacs.d/.org-id-locations
